{% extends 'base.html.twig' %}

{% block title %}MS Code - Projeto Estoque 2025{% endblock %}

{% block body %}

{% include 'app/menu-superior.html.twig' %}

    <main>
        
        </div>
        <div class="container py-5">
           
        </div>
    </main>
{% endblock %}
